.Logout {
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logout-logo img {
    width: 50%;
}

.logout-text h3 {
    color: white;
}

.total-logout-container {

    width: 40%;
    margin: 0px auto;
    text-align: center;
    height: 50vh;
}

.total-logout-container button {
    background-color: #ff634700;
    padding: 9px 35px;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 22px;
}
.total-logout-container button:hover{
    background-color: rgba(0, 0, 0, 0.271);
    color: white;
}